rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Everyone can READ packages + availability (guests).
    // Only YOUR admin account can WRITE.
    match /settings/{docId} {
      allow read: if true;
      allow write: if request.auth != null
                   && request.auth.uid == 'LTKfG5h1CcVmXNCmVZjmTJ7IitF3';
    }
  }
}
